In [2]:
import requests
import pandas as pd
import time
import random
from bs4 import BeautifulSoup

In [3]:
Output = pd.DataFrame()

In [13]:
Localities = []
for loc in Localities:
    Data = {'Rajarhat','New-Town',}
    URL = 'https://www.magicbricks.com/property-for-sale/residential-real-estate?proptype=Multistorey-Apartment,Builder-Floor-Apartment,Penthouse,Studio-Apartment&Locality='+loc+'&cityName=Kolkata'
    r = requests.get(URL)
    soup = BeautifulSoup(r.content, 'html.parser') 
    small = soup.findAll(class_='flex relative clearfix m-srp-card__container')
    for part in small:
        got = part.get_text().split()
        #print(got)
        for i in range(len(got)):
            ############# Price ###########
            if got[i]=='Cr':
                try:
                    Data['Price']=float(got[i-1])*10000000
                except ValueError:
                    pass
            elif got[i]=='Lac':
                Data['Price']=float(got[i-1])*100000
        ############ Area per Sqft/yard ############
            if got[i]=='per':
                if got[i+1]=='sqft':
                    Data['Per_Sqft']=float(got[i-1])
                elif got[i+1]=='sqyrd':
                    Data['Per_Sqft']=float(got[i-1])*9
                elif got[i+1]=='sqm':
                    Data['Per_Sqft']=float(got[i-1])*10.7639
        ############ BHK apartment #####################
            if got[i]=='BHK':
                try:
                    Data['BHK']=int(got[i-1])
                except ValueError:
                    pass
        ########### Type of House:- Builder/Apartment ####
            if got[i]=='Apartment':
                Data['Type']='Apartment'
            elif got[i]=='Builder':
                Data['Type']='Builder_Floor'
        ############ Area ##############################
            if got[i]=='super' or got[i]=='carpet':
                if got[i+3]=='sqft':
                    Data['Area']=int(got[i+2])
                elif got[i+3]=='sqyrd':
                    Data['Area']=int(got[i+2])*9
                elif got[i+3]=='sqm':
                    Data['Area']=int(got[i+2])*10.7639
    ############# Status #########################
            if got[i]=='status':
                if got[i+1]=='Ready':
                    Data['Status']='Ready_to_move'
                elif got[i+1]=='Possession':
                    Data['Status']='Almost_ready'
    ############# Transaction #########################
            if got[i]=='transaction':
                if got[i+1]=='New':
                    Data['Transaction']='New_Property'
                elif got[i+1]=='Resale':
                    Data['Transaction']='Resale'
    ############# Furnishing #########################
            if got[i]=='furnishing':
                if got[i+1]=='Unfurnished':
                    Data['Furnishing']='Unfurnished'
                elif got[i+1]=='Furnished':
                    Data['Furnishing']='Furnished' 
                elif got[i+1]=='Semi-Furnished':
                    Data['Furnishing']='Semi-Furnished' 
    ############# Parking #########################
            if got[i]=='parking':
                try:
                    Data['Parking']=int(got[i+1])
                except ValueError:
                    pass
    ############# Locality #########################
            if got[i]=='in':
                j=i+1
                string =got[j]
                j+=1
                while(j<len(got)):
                    if got[j]=="What's":
                        break
                    else :
                        string +=(' '+got[j])
                    j+=1
                Data['Locality']=string
        
        
    ############# Bathroom #########################
            if got[i]=='bathroom':
                try:
                    Data['Bathroom']=int(float(got[i+1]))
                except ValueError:
                    pass

                break
                
        
        Output = Output.append(Data,ignore_index=True)
    
    print(r.status_code)

200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200

In [14]:
Output

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,925.0,3.0,2.0,Furnished,"Mitya Homes, Dwarka Mor ( 14 km from Rohini) c...",1.0,4500000.0,Ready_to_move,New_Property,Builder_Floor,NaN
1,750.0,3.0,2.0,Semi-Furnished,Rohini Sector 23 carpet area 750 sqft status R...,1.0,6300000.0,Ready_to_move,New_Property,Builder_Floor,NaN
2,700.0,2.0,2.0,Semi-Furnished,Rohini Sector 24 carpet area 700 sqft status R...,1.0,6200000.0,Ready_to_move,New_Property,Builder_Floor,NaN
3,600.0,2.0,2.0,Semi-Furnished,"Jain Colony, Rohini carpet area 600 sqft statu...",1.0,2450000.0,Ready_to_move,New_Property,Builder_Floor,NaN
4,1500.0,4.0,3.0,Semi-Furnished,Rohini Sector 24 carpet area 1500 sqft status ...,1.0,10000000.0,Ready_to_move,Resale,Builder_Floor,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2554,1120.0,3.0,3.0,Semi-Furnished,"Chittaranjan Park, New Delhi for 2.6 Crore(s) ...",NaN,26500000.0,Ready_to_move,Resale,Apartment,NaN
2555,1120.0,3.0,3.0,Semi-Furnished,Chittaranjan Park Arya Chittaranjan Park Carpe...,NaN,40000000.0,Ready_to_move,Resale,Apartment,NaN
2556,1120.0,3.0,3.0,Semi-Furnished,Nehru EnclaveGround Floor200 sqyd3 BHK with at...,NaN,35000000.0,Ready_to_move,Resale,Apartment,NaN
2557,2250.0,4.0,3.0,Semi-Furnished,400 yds having a carpet area 2250 sqft 4 spaci...,NaN,57500000.0,Ready_to_move,Resale,Builder_Floor,NaN
2558,1850.0,3.0,3.0,Semi-Furnished,Chittaranjan Park Super Area: 2097 sqft Bedroo...,NaN,38500000.0,Ready_to_move,Resale,Builder_Floor,NaN

In [15]:
Output.isnull().sum()

Area            543
BHK               0
Bathroom        545
Furnishing      543
Locality          0
Parking         855
Price             0
Status          543
Transaction     543
Type              4
Per_Sqft       1203
dtype: int64

In [28]:
duplicaterows = Output[Output.duplicated()]
duplicaterows

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
6,925.0,3.0,2.0,Furnished,"Mitya Homes, Dwarka Mor ( 14 km from Rohini) c...",1.0,4500000.0,Ready_to_move,New_Property,Builder_Floor,NaN
7,750.0,3.0,2.0,Semi-Furnished,Rohini Sector 23 carpet area 750 sqft status R...,1.0,6300000.0,Ready_to_move,New_Property,Builder_Floor,NaN
8,700.0,2.0,2.0,Semi-Furnished,Rohini Sector 24 carpet area 700 sqft status R...,1.0,6200000.0,Ready_to_move,New_Property,Builder_Floor,NaN
9,600.0,2.0,2.0,Semi-Furnished,"Jain Colony, Rohini carpet area 600 sqft statu...",1.0,2450000.0,Ready_to_move,New_Property,Builder_Floor,NaN
10,1500.0,4.0,3.0,Semi-Furnished,Rohini Sector 24 carpet area 1500 sqft status ...,1.0,10000000.0,Ready_to_move,Resale,Builder_Floor,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2529,NaN,3.0,NaN,NaN,Safdarjung Enclave CRISIL Rating Operating Sin...,NaN,30500000.0,NaN,NaN,Builder_Floor,NaN
2530,NaN,3.0,NaN,NaN,Chittaranjan Park Arya Chittaranjan Park Carpe...,NaN,28000000.0,NaN,NaN,Builder_Floor,NaN
2531,NaN,4.0,NaN,NaN,C R Park First Floor with Lift Corner Property...,NaN,39900000.0,NaN,NaN,Builder_Floor,NaN
2532,NaN,3.0,NaN,NaN,Chittaranjan Park Block B Carpet Area: 1200 sq...,NaN,23000000.0,NaN,NaN,Builder_Floor,NaN
2533,NaN,3.0,NaN,NaN,"Chittaranjan Park, New Delhi for 2.6 Crore(s) ...",NaN,26500000.0,NaN,NaN,Apartment,NaN

In [31]:
Output[0:10]

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,925.0,3.0,2.0,Furnished,"Mitya Homes, Dwarka Mor ( 14 km from Rohini) c...",1.0,4500000.0,Ready_to_move,New_Property,Builder_Floor,NaN
1,750.0,3.0,2.0,Semi-Furnished,Rohini Sector 23 carpet area 750 sqft status R...,1.0,6300000.0,Ready_to_move,New_Property,Builder_Floor,NaN
2,700.0,2.0,2.0,Semi-Furnished,Rohini Sector 24 carpet area 700 sqft status R...,1.0,6200000.0,Ready_to_move,New_Property,Builder_Floor,NaN
3,600.0,2.0,2.0,Semi-Furnished,"Jain Colony, Rohini carpet area 600 sqft statu...",1.0,2450000.0,Ready_to_move,New_Property,Builder_Floor,NaN
4,1500.0,4.0,3.0,Semi-Furnished,Rohini Sector 24 carpet area 1500 sqft status ...,1.0,10000000.0,Ready_to_move,Resale,Builder_Floor,NaN
5,1500.0,3.0,3.0,Semi-Furnished,Rohini Sector 16 Carpet Area: 1000 sqft Bedroo...,1.0,17500000.0,Ready_to_move,Resale,Builder_Floor,NaN
6,925.0,3.0,2.0,Furnished,"Mitya Homes, Dwarka Mor ( 14 km from Rohini) c...",1.0,4500000.0,Ready_to_move,New_Property,Builder_Floor,NaN
7,750.0,3.0,2.0,Semi-Furnished,Rohini Sector 23 carpet area 750 sqft status R...,1.0,6300000.0,Ready_to_move,New_Property,Builder_Floor,NaN
8,700.0,2.0,2.0,Semi-Furnished,Rohini Sector 24 carpet area 700 sqft status R...,1.0,6200000.0,Ready_to_move,New_Property,Builder_Floor,NaN
9,600.0,2.0,2.0,Semi-Furnished,"Jain Colony, Rohini carpet area 600 sqft statu...",1.0,2450000.0,Ready_to_move,New_Property,Builder_Floor,NaN